@page "/konyvek"
@using DemoApp2025Spring.Shared
@using DemoApp2025Spring.UI.Services
@inject IBooksService BooksService
@inject NavigationManager NavigationManager

<h3>Books</h3>

<div class="mb-3">
    <a href="/konyvek/add" class="btn btn-primary">Add book</a>
</div>

@if (_konyv is not null)
{
    <table class="table table-hover border">
        <thead>
            <tr>
                <th>Leltári szám</th>
                <th>Cím</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var konyv in _konyv)
            {
                <tr>
                    <td>@konyv.LeltariSzam</td>
                    <td>@konyv.Cim</td>
                    <td>                       
                        <a href="/konyvek/@konyv.LeltariSzam">
                            Details
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Loading...</p>
}

@code {

    private List<Konyvek> _konyv;

    protected override async Task OnInitializedAsync()
    {
        _konyv = await BooksService.GetBookAsync();
    }

}
